body {
    background-color: rgb(224,224,224);
}

.banner {
    position: fixed;
    width: 100%;
    top: 0%;
    height: 20%;
    z-index: 1;
    background-color: rgb(132, 183, 216);
}

.sign-in-button, .sign-out-button {
    position: fixed;
    top: 0%;
    height: 10%;
    width: 20%;
    right: 0%;
}

.dropdown {
    margin: auto;
    width: 33.66%;
}

form {
    width: 100%;
}

form select {
    width: 100%;
}

.main-area {
    top: 20%;
    height: 80%;
    margin: auto;
    background-color: rgb(224,224,224);
}

.left-sidebar {
    position: fixed;
    top: 20%;
    height: 80%;
    left: 0%;
    width: 30%;
    margin: auto;
    overflow-y: scroll; 
}

.right-sidebar {
    position: fixed;
    top: 20%;
    height: 80%;
    right: 0%;
    width: 30%;
    margin: auto;
    overflow-y: scroll;
}

.feed {
    position: fixed;
    top: 20%;
    height: 80%;
    left: 35%;
    right: 35%;
    margin: auto;
    overflow-y: scroll;
    z-index: 0;
}

.article {
    height: 20%;
}

.panel {
    background-color: rgb(224,224,224);
    margin: auto;
}

h1, h2, h3 {
    text-align: center;
}

img {
    object-fit: contain;
}
