<!DOCTYPE html>
<html lang="en">
	<head>
		
        <!-- Meta -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
        <!-- Title -->
		<title>Home</title>

		<!-- Normalize -->
		<link rel="stylesheet" href="static/css/normalize.css">
        <!-- CSS -->
        <link rel="stylesheet" href="static/css/app.css">
		 
		<!-- Modernizer -->
		<script src="static/js/modernizr.js"></script>
		
    </head>
	<body>

        <!-- Banner -->
        <div class="banner">
            
            {% if session['user'] %}
                <div class="logged-in">
                    <div class="account-interface">
                        <div class="logout">
                            <form action="/sign-out", method="post">
                                <button type="submit">Sign Out</button>
                            </form>
                        </div>

                        <div class="account-settings">
                            <form action="/preferences", method="post">
                            <button type="submit">Account Settings</button>
                            </form>
                        </div>
                    </div>

                    <p class="account-info">You are logged in as {{session['user']['email']}}.</p>
                </div>
            {% else %}
            
                <div class="logged-out">
                    <div class="login">
                        <form action="/sign-in", method="post">
                            <button type="submit">Sign In</button>
                        </form>
                    </div>

                    <div class="logup">
                        <form action="/sign-up", method="post">
                            <button type="submit">Sign Up</button>
                        </form>
                    </div>
                </div>
            {% endif %}
            
            <h1>Title</h1>
            
            <!-- Dropdown Neighborhood Menu -->
            <div class="dropdown">
                <form action="/index.html" method="post" class="theform">
                    <select name="location">
                        <option value="default" selected>Select a neighborhood to search</option>
                        <option value="Bronx">Bronx</option>
                        <option value="Brooklyn">Brooklyn</option>
                        <option value="Manhattan">Manhattan</option>
                        <option value="Queens">Queens</option>
                        <option value="Staten Island">Staten Island</option>
                    </select>
                </form>
            </div>
            
        </div>
        
        <div class="main-area"></div>
        
        <!-- Events Sidebar -->
        <div class="panel left-sidebar content">
            
            <h2>Events</h2>

            <ul>
            {% for event in eventsres.events %}

                <div class="panel article">

                    <h3><a href="{{ event.url }}">{{ event.name.html | safe }}</a></h3>
                    {{ event.start.local }}
                    <br>
                    {% if event.description.text|length >= 100 %}
                    {{ event.description.text[:100] }}...
                    {% endif %}

                    {% if event.description.text|length < 100 %} 
                    {{ event.description.text }}
                    {% endif %}


                </div>
            {% endfor %}

            </ul>

        </div>

        <!-- Community Leaders Sidebar -->
        <div class="panel right-sidebar content">

            <h2>Community Leaders</h2>

            <ul>	
            {% for office in civres.offices[7:] %}

                <div class="panel article">
                    {% set official = civres.officials[office.officialIndices[0]] %}
                    <h4>{{official.name}},
                     {{office.name}}</h4>
                    {% if civres.officials[office.officialIndices[0]].photoUrl %}
                        <img src="{{civres.officials[office.officialIndices[0]].photoUrl }}" height="100" alt="">
                    {% endif %}
                    {% if official.phones %}
                        <p>{{ official.phones[0]}} </p>
                    {% endif %}
                    {% if official.emails %}
                    <p><a href="mailto:{{ official.emails[0] }}" target="_top">{{ official.emails[0] | safe}}</a></p>
                    {% endif %}
                </div>
            {% endfor %}
            </ul>

        </div>

        <!-- Article Feed -->
        <div class="feed">
            <h2>News</h2>
            
            {% for article in articles %}
                <div class="panel article">

                    <h3>{{article['title']}}</h3>

                    <p>{{article['description']}}</p>
                    
                    <p>{{article['link']}}</p>

                </div>
            {% endfor %}
        
        </div>
		
        <!-- JavaScript -->
		<script src="static/js/jquery.js"></script>
        <script src="static/js/index.js"></script>
            
	</body>
</html>