<!DOCTYPE html>
<html lang="en">
	<head>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>Home</title>

		<!-- CSS -->
		<link rel="stylesheet" href="static/css/normalize.css">
		<link rel="stylesheet" href="static/css/app.css">
		 
		<!-- JavaScript -->
		<script src="static/js/modernizr.js"></script>
        
    </head>
	<body>

        <!-- Banner -->
        <div class="panel banner">
            
            <h1>Title</h1>
            
            <!-- Dropdown Neighborhood Menu -->
            <div class="dropdown">
                <form action="/index.html" method="post" id="theform">
                    <select name="location">
                        <option value="default" selected>Please select a neighborhood</option>
                        <option value="Bronx">Bronx</option>
                        <option value="Brooklyn">Brooklyn</option>
                        <option value="Manhattan">Manhattan</option>
                        <option value="Queens">Queens</option>
                        <option value="Staten Island">Staten Island</option>
                    </select>
                </form>
            </div>
            
        </div>
            
        <!-- Events Sidebar -->
        <div class="panel left-sidebar content">
            
            <h2>Events</h2>

            <ul>
                <li>Event 1</li>
                <li>Event 2</li>
                <li>Event 3</li>
                <li>Event 4</li>
                <li>Event 5</li>
                <li>Event 6</li>
            </ul>

        </div>

        <!-- Community Leaders Sidebar -->
        <div class="panel right-sidebar content">

            <h2>Community Leaders</h2>

            <ul>	
            {% for office in res.offices[2:] %}
                <li>
                    {% set official = res.officials[office.officialIndices[0]] %}
                    <h4>{{official.name}},
                     {{office.name}}</h4>
                    {% if res.officials[office.officialIndices[0]].photoUrl %}
                        <img src="{{ res.officials[office.officialIndices[0]].photoUrl }}" height="100" alt="">
                    {% endif %}
                    {% if official.phones %}
                        <p>{{ official.phones}} </p>
                    {% endif %}
                    {% if official.emails %}
                        <p>{{ official.emails }}</p>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>

        </div>

        <!-- Article Feed -->
        <div class="feed">
            
            {% for article in articles %}
                <div class="panel article">

                    <h3>{{article["title"]}}</h3>

                    <p>{{article["description"]}}</p>
                    
                    <p>{{article["link"]}}</p>

                </div>
            {% endfor %}

        </div>
        
		<!-- JavaScript -->
		<script src="static/js/jquery.js"></script>
        <script src="static/js/select.js"></script>
	</body>
</html>
