<!DOCTYPE html>
<html lang="en">
	<head>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>Home</title>

		<!-- CSS -->
		<link rel="stylesheet" href="static/css/normalize.css">
        <link rel="stylesheet" href="static/css/app.css">
		 
		<!-- JavaScript -->
		<script src="static/js/modernizr.js"></script>
		
        <!-- adding Firebase aApp -->
        <script src="https://www.gstatic.com/firebasejs/3.7.4/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.7.4/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.7.4/firebase-database.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.7.4/firebase-messaging.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.7.4/firebase-storage.js"></script>
        <script>
          // initialize Firebase
          var config = {
            apiKey: "AIzaSyBeIOzvNIlY90DRAj8HhXNLL5aCLhNylB4",
            authDomain: "labs-2c94e.firebaseapp.com",
            databaseURL: "https://labs-2c94e.firebaseio.com",
            projectId: "labs-2c94e",
            storageBucket: "labs-2c94e.appspot.com",
            messagingSenderId: "615805281183"
          };
          var app = firebase.initializeApp(config);
        </script>
        
        <!-- Firebase authentication -->
        <script src="https://cdn.firebase.com/libs/firebaseui/1.0.1/firebaseui.js"></script>
        <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/1.0.1/firebaseui.css">
        <script type="text/javascript">
          // FirebaseUI config
          var uiConfig = {
            signInFlow: "popup",
            signInSuccessUrl: "/preferences.html",
            signInOptions: [
              firebase.auth.GoogleAuthProvider.PROVIDER_ID
            ],
            // terms of service url
            tosUrl: "/preferences.html"
          };
          // initialize the FirebaseUI Widget using Firebase
          var ui = new firebaseui.auth.AuthUI(app.auth());
          // start method will wait until DOM is loaded
          ui.start(".sign-in-button", uiConfig);
        </script>
    
    </head>
	<body>
        
        <div class="preferences">
            
            <div class="sign-out-button">
                <p class="account-info"></p>
                <div class="logout">Sign Out</div>
            </div>

            <div class="sign-in-button"></div>
            
            <div class="homepage-button">
                <a href="index.html">Return to Homepage</a>
            </div>
        
        </div>
        
        <!-- JavaScript -->
		<script src="static/js/jquery.js"></script>
        <script src="static/js/preferences.js"></script>
        
    </body>
</html>