<!DOCTYPE html>
<html lang="en">
	<head>
		
        <!-- Meta -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
        <!-- Title -->
		<title>Sign-In</title>

		<!-- Normalize -->
		<link rel="stylesheet" href="static/css/normalize.css">
		 
		<!-- Modernizer -->
		<script src="static/js/modernizr.js"></script>
		
    </head>
	<body>
        
        <div class="login">
            <form action="/sign-in-form", method="post">
                <input type="text" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <button type="submit">Sign In</button>
            </form>
        </div> 

        <!-- JavaScript -->
		<script src="static/js/jquery.js"></script>
        
    </body>
</html>